.wmc-map
  background: #111;
  line-height: 0;
  border-width: 1px;
  border-style: solid;
  border-color: white;
  position:absolute;
  top:0;
  right:0;
  opacity: 0.8;
  //padding:5px;
  
  
.wmc-map-line
  padding:0px;
  margin:0px;
.wmc-map-subcell
  
  display: inline-block;
  margin:2px;
  width:5px;
  height:5px;

.wmc-map-cell
  text-align: center;
  border: 1px solid black;
  background: black;
  display: inline-block;
  margin: 1px;
  padding: 4px;
  width: 13px;
  height: 13px;