.mterm-cont
  background:black
  display:flex;
  flex-direction: column;
  flex:1;
  color:#88a;
  padding-left: 5px;
  font-family: "Lucida Console", monospace
  font-size: 18px;
  
.mterm-view
  display:flex;
  flex-direction: column;
  flex:1;
  line-height:1;
  justify-content: flex-end;
  background: black;
  color: white;
  padding-left: 5px;
  margin-bottom: 0px;

.mterm-line
  padding-top: 0px;

.mterm-input
  background: black;
  border: 0;
  color: white;
  width: 100%;

.mterm-prompt-input
  padding-top:1px
  padding-bottom:1px

.mterm-prompt-cursor
  padding-top:1px
  padding-bottom:1px
  color: black
  background: #F5F5F5

.mterm-prompt
  background: black;
  color: white;
  padding-left: 5px;
  padding-top: 0px;
  padding-bottom: 0px;
  font-family: "Lucida Console", monospace
  font-size: 18px;

.mterm-status
  background: #114;
  color: white;
  padding-left: 5px;
  font-family: "Lucida Console", monospace
  font-size: 12px;
