.wmc-layout
  overflow:hidden
  display: flex
  flex: 1
  &.ant-layout
    height 100vh
  .ant-menu.ant-menu-dark .ant-menu-item-selected,
  .ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected
    background-color: rgba(24, 144, 255, 0.45);

  .logo
    background-image url("./../../../images/computer.png")
    width: 48px;
    height: 22px;
    margin: 0 10px 0 -40px;
    float: left;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

  .content-wrapper
    background-color: #0ff
    padding: 0px
    min-height: 280px
    display flex
    flex: 1
  
  .ant-layout-header
    height: 24px;

  .ant-layout-content
    padding 0px !important
    background: #faf
    display: flex
    flex-direction: column

  .ant-layout-footer
    padding 5px

  .ant-menu
    width: calc(100% - 125px)
    float: left